#nav ul{
  width: 100%;
  max-height: 4%;
  background: blue;
  overflow: hidden;
  list-style-type: none;
  background-color: #303133;
  position: fixed;
  top: 0;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  z-index: 1000;
}

#container {
  width: 2500px;
  height: 100%;
  margin: 0 auto;
}

#content {
  background:purple;
  overflow: auto;
  max-width: 70%;
  margin: auto;
}

#side-nav {
  float: right;
  background: yellow;
  overflow: auto;
  max-width: 30%;
  margin: auto;
}

#footer {
  width: 100%;
  background: green;
  height: 4%;
  margin: auto;
  overflow: hidden;
}
